.hidden-mobile{
   
}
.hidden{
    display: none;
}
.card--active{
    border: 1px solid black;
}
@media (max-width:600px) {
    .hidden-mobile{
        display: none;
    }
}

.cart-close{
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s;  
    display: none;
  
}
