.advertisement{
position: relative;
margin: 0 auto;
padding: 1.2rem;
background-color: var(--color-secondary-light);
width: 100%;
text-align: center;
}
.advertisement__content{
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: left;  
    color: var(--color-primary);
}
.event{
color: #997F72;
}
.avertisement__close-icon{
position:absolute;
right: 0.5rem;
top: 50%;
transform: translateY(-50%);
font-size: 2.5rem;
cursor: pointer;
}
@media (max-width:600px) {
    .advertisement{
        padding:1.2rem 0.2rem;
    }

}