
.btn{
    font-family:var(--font-header);
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.16em;
    text-align: left;
    padding: 2.5rem 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.btn--light{
color: var(--color-primary);
background-color: var(--color-secondary-light);
}
.btn--dark{
    color: var(--color-secondary);
    background-color: var(--color-primary-dark);

}


/* ------------------ REVIEW ---------------- */
.review{
    list-style:none;
    display: flex;
    gap: 0.5rem;
    align-items: center;

}
.start{
    width: 16px;
    height: 16px;
}
.star--filled{
background-image: url("../../public/icons/filled\ star.svg");
background-repeat: no-repeat;
}
.reviews-numb{
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    
}