
.btn{
    font-family:var(--font-header);
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.16em;
    text-align: left;
    padding: 2.5rem 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.btn--light{
color: var(--color-primary);
background-color: var(--color-secondary-light);
}
.btn--dark{
    color: var(--color-secondary);
    background-color: var(--color-primary-dark);

}
