.product__swatches-box{
    width: 15rem;
    height: 4rem;
    background-color: red;
    }
    .swatch{
        /* display: none; */
    }
    .label{
width: 25px;
height: 25px;

border-radius: 50%;
display: inline-block;
display: flex;
justify-content: center;
align-items: center;

/* position: relative; */
    }
    .checkmark{
        align-self: center;
        justify-self: center;
        display: inline-block;
        
        width: 15px;
        height: 15px;
        border: solid 1px #BEBEBE;
        background-color: #997F72;
        border-radius: 50%;
    }
    .swatch:checked~.label{
        border: solid 1px #BEBEBE;
    }