.product__swatches-box{
    width: 15rem;
    height: 4rem;
    display: flex;
    background-color: red;
    }
    .select-plan__sawtch-box{
        width: 170px;
        height: 50px;
        background-color: red;
    }