.subscription{
    padding: 5rem;
  
    
}
.subscription__container{
    background-color: white;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: repeat(auto-fill,minmax(27rem,1fr));
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
@media (max-width:500px) {
    .subscription{
        padding: 1rem;
    }
    .subscription__container{
        width: 95%;
    }
}