
.partners{
display: flex;
flex-direction: column;
gap: 3rem;
padding: 3rem;


}
.partners__title{
text-align: center;
color: #8F8F8F;
font-size: 1.4rem;
line-height: 1.6rem;
letter-spacing: 0.16em;
text-transform: uppercase;
/* font-weight: 600; */
font-family: var(--font-bold);



}
.partners__logos{
display: grid;
grid-template-columns: repeat(8,1fr);
gap: 2rem;
align-items: center;
justify-items: center;
}
.logo-wrapper{
width: 90%;
}
.logo-wrapper img{
    object-fit: contain;
}
@media (max-width:900px) {
    .partners__logos{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width:400px) {
    .partners__logos{
        grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
    }
    .logo-wrapper{
        width: 120px;
        height:60px;
        }   
}